/*@font-face {
font-family:arcadeFont;
src: url(press_start_2p/PressStart2P.ttf);
}*/


#banner {
    width: 500px;
    height: 200px;
    margin: 0px auto;
    border: black 3px solid;
    overflow: hidden;
  }

    /* the overflow allows you to hide everything from outside that box*/

#banner_backdrop {
   position: relative;
   width: 520px;
   height: 200px;
   background: url('https://i.stack.imgur.com/WHu9Z.png') repeat-x;
  }

  #banner_content {
    position: relative;
    width: 86%;
    height: 180px;
    margin: 20px auto;
    top:-210px;
    -webkit-animation: backdrop_roll linear 15s infinite;
    -moz-animation: backdrop_roll linear 15s infinite;
    -ms-animation: backdrop_roll linear 15s infinite;
    animation: backdrop_roll linear 15s infinite;
  }
  @-webkit-keyframes backdrop_roll {
    from { right:0px; }
    to { right: 320px; }
  }
  @-moz-keyframes backdrop_roll {
  from { right:0px; }
  to { right: 320px; }
  }
  @-ms-keyframes backdrop_roll {
    from { right:0px; }
    to { right: 320px; }
  }
  @keyframes backdrop_roll {
    from { right:0px; }
    to { right: 320px; }
  }


body {
  font-family: 'Press Start 2P', cursive;
  background-color: lightgray;
  text-align: center;
}

p {
  font-size: 10px;
}

.img-thumbnail {
  height: 50px;
  width:50px;
  margin-left: 20px;
}

.let {
  display: inline-block;
}

h1 {
  font-size:50px;
  text-shadow:-3px 0 red;
}

h2 {
  font-size:30px;
  text-shadow:-3px 0 white;
}

.win-btn {
  height: 70px;
  width: 280px;
  background-color: red;
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -140px;
  z-index: 20;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  padding-top: 20px;
}

.row {
  margin-top: 20px;
}

#canvas-holder {
  margin-top: 50px;
  margin-right:50px;
}



#burgerIcon {
  height:200px;
  width:200px;
  border-radius: 10px;*/
}

.btn {
  width: 180px;
  height:60px;
  background-color: red;
  color: white;
  font-size: 11px;
  border: 2px solid black;
}


.btn:hover {
  background-color: #1E90FF;
  color: white;
}
 #close {
   background-color: black;
   color:white;
 }


.modal-body {
  color:black;
}
