@font-face {
font-family:arcadeFont;
src: url(press_start_2p/PressStart2P.ttf);
}



body {
  background-color: black;
}

button {
  width:120px;
  height: 70px;
  background-color: green;
  color: white;
}
 #start {
   margin-left: 600px;
 }
